<div class="row justify-content-center pt-2" style="background-color:#E6E6E6;font-family: monospace;">
    <div class="col-md-3">
        <h2>Јewelry Store <img src="http://easyreservers.com:8080/shop-images/logo.png" style="width:9%;  transform: rotate(45deg);"></h2>
        <br> 
         <p>	<mat-icon> call</mat-icon> {{phone}}</p>
         <p>{{mark}}</p>
         <p><mat-icon> location_on</mat-icon> {{address}}</p>
         <p>1000 Скопје</p>
         <p>{{description}}</p>
         <p><mat-icon> email</mat-icon> {{email}}</p>
    </div>
    <div class="col-md-2">
      <h6>ИНФОРМАЦИИ</h6>
      <br>  
      <p>За нас</p> 
      <p>За Јewelry Store брендот</p> 
      <p>Придружете се на Јewelry Store тимот</p> 
      <p>Најдете ја својата Јewelry Store продавница</p> 
      <p>Одлуки и известувања</p> 
      <p>Информации за одржување накита</p> 
      <p>Водич на големини</p>
    </div>
    <div class="col-md-3">
        <h6>КОРИСНИЧКИ СЕРВИС</h6>
        <br> 
        <p>Услови за користење</p>
        <p>Услови за продажба</p>
        <p>Политика на приватност</p>
        <p>Политика за колачиња</p>
        <p>Испорака</p>
        <p>Право на откажување</p>
        <p>Поврат на средствата</p>
        <p>Замена</p>
        <p>Рекламации</p>
        <p>Најчесто поставувани прашања</p>
        <p>Како да купите</p>
    </div>
    <div class="col-md-3">
      <h6> NEWSLETTER</h6> 
      <form class="d-flex">
        <input class="form-control me-2 w-50" type="text" placeholder="Email">
        <button class="btn" type="button">Пријави се</button>
      </form>
      <br>
      <p id="time">РАБОТНО ВРЕМЕ:</p>
      <p>Понеделник 09:00-21:00</p>
      <p>Вторник 09:00-21:00</p>
      <p>Среда 09:00-21:00</p>
      <p>Четврток 09:00-21:00</p>
      <p>Петок 09:00-21:00</p>
      <p>Сабота 09:00-21:00</p>
      <p>Недела 10:00-17:00</p>
    </div>

    <div class="col-md-12" style="text-align: -webkit-center;font-size: 92%; color:rgb(139, 137, 137);">
        <p>Се обидуваме да бидеме што подетални и попрецизни во описот на производите и прикажувањето на сликите, но не можеме да гарантираме дека сите информации се целосни и без грешки. Сите артикли прикажани на сајтот се дел од нашата понуда, но не подразбира дека се секогаш достапни.</p>
        <p id="pr">Оваа страна е изработена од Мартина Маркоска, продуктите и сите функционалности се тестни и не служи за реална продажба.</p>
      </div>
    <div class="col-md-6" style="text-align: -webkit-center; color: #F48999;">
        <p>©2023jewelrystore.mk</p>
    </div>
</div>