.btn{
    color:rgb(255, 255, 255);
    background-color: #F48999;
    font-family: monospace;
}
h6{
    font-weight: 900;
    font-size: larger;
}
h2{
    color: #F48999;
    font-style: italic;
    font-family: -webkit-body;
    font-size: 242%;
}
.col-3{
    margin-top: 25px;
}
.col-2{
    margin-top: 25px;
}
.visa{
    text-align-last: center;
    padding: 44px;
}
#time{
    color: #F48999; 
    font-size: 100%;
}
#pr{
    color: rgb(235, 90, 90);
}
p{
    font-size: 80%;
}

.visa img:first-child {
    max-height: 50px !important;
}

.visa img:nth-child(2) {
    max-height: 30px !important;
}