<div class="row">
    <nav class="navbar navbar-expand-sm  ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" *ngFor="let item of menus" [ngStyle]="{'background-color': item.color}">
                <a class="nav-link dropdown-toggle text-white" *ngIf="item.color != null" role="button" data-bs-toggle="dropdown"(click)="goToCategory(item.id)">{{item.name}}</a>
                <a class="nav-link dropdown-toggle" *ngIf="item.color == null" role="button" data-bs-toggle="dropdown"(click)="goToCategory(item.id)">{{item.name}}</a>
                <ul class="dropdown-content">
                  <li><a class="dropdown-item" *ngFor="let tags of item.tags" (click)="getAllProductsBySubcategory(tags)">{{tags}}</a></li>
                </ul>
              </li>
              <form class="d-flex">
                <input class="form-control me-2" type="text"
                     placeholder="Search"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto"
                     [(ngModel)]="value"
                     (keyup)="onKeypressEvent($event)"
                     (keyup.enter)="search()"
                     >
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <button class="btn " type="button" (click)="search()">Пребарај</button>
              </form>
            </ul>
          </div>
        </div>
      </nav>
</div>     


