input {
    max-width: 100%;
    border: 1px solid rgb(185, 182, 182);
    width: 73px;
}

img{
    width: 53%;
    margin-bottom: 18px;
}
.btn{
    color:rgb(255, 255, 255);
    background-color: #F48999;
}
.col-2{
    font-family: monospace;
}
.onerow{
    text-align: -webkit-center;
    font-size: 22px;
    color: grey;
    padding: 13px;
    place-content: center;
}
.tworow{
    align-items: center;
    padding: 13px;
    background-color: rgb(247, 244, 244);
    cursor: pointer;
}
.tworow:hover{
    background-color:rgb(224, 221, 221); 
}
#delete{
    background-color: #050505;
    margin: 5px;
}
